* {
	font-size: 18px;
	font-family: FiraCode Nerd Font;
  transition: all 0s;
}

window#waybar {
	background: #323232;
	color: #fdf6e3;
}

#workspaces,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#custom-weather,
#disk,
#tray {
	background: #272727;
  border-left: 1px solid #5c5c5c;
}

#tray * {
  padding: 0 5px;
}

#workspaces button {
	padding: 0 5px;
	color: #fdf6e3;
  background: #323232;
  border: 1px solid #4c4c4c;
}

#workspaces button.focused {
	background: #458588;
  border: 1px solid #aaaaee;
}

#workspaces button.urgent {
  background: red;
  animation: blinking 0.8s infinite;
  border: 1px solid red;
}

@keyframes blinking{
    0%{   background-color: red;     }
    49%{  background-color: inherit; }
    50%{  background-color: inherit; }
    99%{  background-color: inherit; }
    100%{ background-color: red;     }
}

#workspaces button:hover {
	background: #8ec07c;
}

#pulseaudio {
	color: #b76389;
}
#backlight {
	color: #b58900;
}
#memory {
	color: #fe8019;
}
#temperature {
	color: #fb4924;
}
#cpu {
	color: #8ec07c;
}
#battery {
	color: #f2b80c;
}
#custom-weather {
  color: #83a598;
}
#disk {
  color: white;
}

#clock {
  padding: 0 0.5em;
}

#custom-weather,
#disk,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery {
	padding: 0 15px;
}

#tray {
  padding-left: 10px;
}

