* {
  font-size: 16px;
  font-family: monospace;
  transition: all 0s;
  color: #fbf1c7;

  /* border-radius: 3px; */
}

window#waybar {
  background: #323232;
  color: #fdf6e3;
}

.modules-right * {
  /* margin-left: 0.5em; */
}

.modules-right > * > * {
  background: #403b39;
  border-left: 1px solid #555555;
  /* border-right: 1px solid #555555; */
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.modules-right > widget > #tray {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#tray > * > * {
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 0.25em;
  padding-right: 0px;
}

#tray > *:first-child > * {
  padding-left: 0px;
}

.modules-right > widget > #custom-shutdown {
  padding-top: 0px;
  padding-left: 0.5em;
  padding-right: 0.7em;
}

#battery.good     { color: #98971a; }
#battery.warning  { color: #fabd2f; }

*.critical {
  color: #fb4934;
  animation: blinking 0.8s infinite;
  font-weight: bold;
}

/*
#pulseaudio     { color: #b76389; }
#backlight      { color: #b58900; }
#memory         { color: #fe8019; }
#temperature    { color: #fb4924; }
#cpu            { color: #8ec07c; }
#battery        { color: #f2b80c; }
#custom-weather { color: #83a598; }
#disk           { color: #c1440a; }
*/

#workspaces button {
  padding: 0 5px;
  background: #403b39;
  border-right: 1px solid #555555;
}

/* #workspaces button:last-child { */
/*   border-right: none; */
/* } */

#workspaces button.focused {
  background: #458588;
  border-right: 1px solid #458588;
}

#workspaces button.urgent {
  background: #ff0000;
  animation: blinking 0.8s infinite;
}

#workspaces button:hover { background: #83a598; }

.modules-right > * {
  background: #3c3836;
  border-left: 1px solid #555555;
}

.modules-right > widget > * { padding: 0 15px; }

.modules-right > widget > #tray {
  padding-left: 8px;
  padding-right: 8px;
}

.modules-right > widget > #custom-shutdown {
  padding-left: 11px;
  padding-right: 13px;
}

#battery.good     { color: #b8bb26; }
#battery.wraning  { color: #fabd2f; }

*.critical {
  color: #fb4934;
  animation: blinking 0.8s infinite;
  font-weight: bold;
}

#clock { padding: 0.1em 0.5em; }

#tray > * > * {
  padding: 0 0px 0.1em 5px;
}

#tray { padding-left: 10px; }

@keyframes blinking {
  0%   { background-color: #ff0000; }
  49%  { background-color: inherit; }
  50%  { background-color: inherit; }
  99%  { background-color: inherit; }
  100% { background-color: #f00000; }
}

#clock { padding: 0.1em 0.5em; }
