* {
  font-size: 16px;
  font-family: "Iosevka Custom SemiExtended Nerd Font", monospace;
  transition: all 0s;
  color: #f2f2f2;

  border-radius: 0px;
}

window#waybar {
  background: #282a2e;
  color: #f2f2f2;
}

#battery.good     { color: #b5bd68; }
#battery.warning  { color: #f0c674; }

*.critical {
  color: #ff9da4;
  animation: blinking 0.8s infinite;
  font-weight: bold;
}

#battery.critical.charging {
  animation: none;
  font-weight: inherit;
}

#workspaces button:first-child {     /* gitignore */
  padding-left: 6px;                 /* gitignore */
  border-top-left-radius: 15px 15px; /* gitignore */
}                                    /* gitignore */

#workspaces button {
  padding: 0 5px;
  background: #373b41;
  border-right: 1px solid #4d5057;
  color: #c5c8c6;
}

#workspaces button.focused {
  background: #81a2be;
  border-right: 1px solid #81a2be;
  color: #1e1f21;
}

#workspaces button.urgent {
  background: #ff5b69;
  color: #f2f2f2;
  animation: blinking 0.8s infinite;
}

#workspaces button:hover { background: #4d5057; color: #f2f2f2; }

.modules-right > * {
  background: #373b41;
  border-left: 1px solid #4d5057;
}

.modules-right > widget > * { padding: 5px 15px; }

#custom-shutdown {
  margin-bottom: 0px;
  padding-right: 20px;
}

#battery.good     { color: #b5bd68; }
#battery.wraning  { color: #f0c674; }

*.critical {
  color: #ff9da4;
  animation: blinking 0.8s infinite;
  font-weight: bold;
}

#clock { padding: 0.1em 0.5em; }

@keyframes blinking {
  0%   { background-color: #ff5b69; }
  49%  { background-color: inherit; }
  50%  { background-color: inherit; }
  99%  { background-color: inherit; }
  100% { background-color: #c66; }
}

#clock { padding: 0.1em 0.5em; }
