/home/.config/nvim/plugged
/home/.config/nvim/plugged/*
/home/.config/nvim/autoload/plug.vim.old
/home/.config/nvim/.netrwhist
/home/.config/Lightcord_BD/bdstorage.json
/home/.config/kak/plugins
/home/.config/zsh/.zcompdump
/home/.config/zsh/.zcompdump.dat
/home/.config/zsh/.zcompdump.zwc
/home/.config/zsh/.zhistory
/home/.config/zsh/.zim
/home/.config/Code - OSS/*
!/home/.config/Code - Oss/Preferences
!/home/.config/Code - Oss/User/settings.json
