[pull]
  rebase = false
[user]
  email = zacharyachurchill@gmail.com
  name = Zachary Churchill
  signingkey = 53B96E7DEB1980B23EEE17773F3FD51F702786FB
[init]
  defaultBranch = main
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
