@define-color border-color #4d5057;

#window {
  background-color: #282a2e;
}


* {
  font-family: "Iosevka Custom SemiExtended Nerd Font", monospace;
  font-size: 18px;
  font-weight: 500;
  color: #f2f2f2;
}

#input {
  padding: 10px;
  border: 2px solid transparent;
  background-color: transparent;
  box-shadow: none;
}

#inner-box {
  margin: 5px;
}

#outer-box {
  padding: 5px;
  border: 2px solid @border-color;
}

#scroll {
  margin: 5px;
  border-top: 2px solid @border-color;
}

#text {
  margin: 5px;
}

#entry:selected {
  background-color: #373b41;
  color: #f2f2f2;
}

#expander-box {
  background-color: #282a2e;
}

#expander-box #entry {
  background-color: transparent;
  color: #c5c8c6;
}

#expander-box #entry:selected {
  background-color: #373b41;
  color: #f2f2f2;
}
